{% extends "./client_base.html" %}

{% block content %}
	<div>
		<body></body>
	</div>
	<div class = 'content-section'>
		<h2><br><br>Thank you for confirming your email address. <br><br>Your account has been activated and you have been automatically signed in. </h2>
		<div class = 'border-top pt-3'>
			
		</div>
	</div>
		<!--{% if messages %}
			{% for message in messages%}
			<div class = 'alert alert-{{message.tags}}'>
				{{ message }}
			</div>
			{% endfor %}
		{% endif %} -->

{% endblock content%}